@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9782 0.0034 247.8578);
  --foreground: oklch(0.2135 0.0158 244.4904);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2135 0.0158 244.4904);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2135 0.0158 244.4904);
  --primary: oklch(0.5128 0.1892 11.1676);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.2135 0.0158 244.4904);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9782 0.0034 247.8578);
  --muted-foreground: oklch(0.4853 0.0176 251.3133);
  --accent: oklch(0.9459 0.0196 357.6179);
  --accent-foreground: oklch(0.5128 0.1892 11.1676);
  --destructive: oklch(0.6188 0.2376 25.7658);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.9177 0.0063 255.4771);
  --input: oklch(0.9876 0.0017 247.8389);
  --ring: oklch(0.5128 0.1892 11.1676);
  --chart-1: oklch(0.5128 0.1892 11.1676);
  --chart-2: oklch(0.6907 0.1554 160.3454);
  --chart-3: oklch(0.8214 0.1600 82.5337);
  --chart-4: oklch(0.7064 0.1822 151.7125);
  --chart-5: oklch(0.5919 0.2186 10.5826);
  --sidebar: oklch(1.0000 0 0);
  --sidebar-foreground: oklch(0.2135 0.0158 244.4904);
  --sidebar-primary: oklch(0.5128 0.1892 11.1676);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9459 0.0196 357.6179);
  --sidebar-accent-foreground: oklch(0.5128 0.1892 11.1676);
  --sidebar-border: oklch(0.9177 0.0063 255.4771);
  --sidebar-ring: oklch(0.5128 0.1892 11.1676);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Aleo, ui-serif, serif;
  --font-mono: Fragment Mono, ui-monospace, monospace;
  --radius: 1rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00), 0px 1px 2px -1px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00), 0px 1px 2px -1px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00), 0px 2px 4px -1px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00), 0px 4px 6px -1px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00), 0px 8px 10px -1px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2154 0.0060 236.8514);
  --foreground: oklch(0.9612 0 0);
  --card: oklch(20.96% 0.01188 359.022 / 0.259);
  --card-foreground: oklch(0.9612 0 0);
  --popover: oklch(0.2154 0.0060 236.8514);
  --popover-foreground: oklch(0.9612 0 0);
  --primary: oklch(0.5128 0.1892 11.1676);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9622 0.0035 219.5331);
  --secondary-foreground: oklch(0.2135 0.0158 244.4904);
  --muted: oklch(0.2090 0 0);
  --muted-foreground: oklch(0.5637 0.0078 247.9662);
  --accent: oklch(0.2036 0.0544 3.8621);
  --accent-foreground: oklch(0.5128 0.1892 11.1676);
  --destructive: oklch(0.6188 0.2376 25.7658);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.2579 0.0319 355.8125);
  --input: oklch(0.2459 0.0236 355.7640);
  --ring: oklch(0.5128 0.1892 11.1676);
  --chart-1: oklch(0.5128 0.1892 11.1676);
  --chart-2: oklch(0.6907 0.1554 160.3454);
  --chart-3: oklch(0.8214 0.1600 82.5337);
  --chart-4: oklch(0.7064 0.1822 151.7125);
  --chart-5: oklch(0.5919 0.2186 10.5826);
  --sidebar: oklch(0.2096 0.0119 359.1372);
  --sidebar-foreground: oklch(0.9612 0 0);
  --sidebar-primary: oklch(0.5128 0.1892 11.1676);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.2036 0.0544 3.8621);
  --sidebar-accent-foreground: oklch(0.5128 0.1892 11.1676);
  --sidebar-border: oklch(0.2579 0.0319 355.8125);
  --sidebar-ring: oklch(0.5128 0.1892 11.1676);
  --font-sans: Open Sans, sans-serif;
  --font-serif: Aleo, ui-serif, serif;
  --font-mono: Fragment Mono, ui-monospace, monospace;
  --radius: 1rem;
  --shadow-2xs: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow-xs: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow-sm: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00), 0px 1px 2px -1px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00), 0px 1px 2px -1px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow-md: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00), 0px 2px 4px -1px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow-lg: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00), 0px 4px 6px -1px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow-xl: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00), 0px 8px 10px -1px hsl(342.0382 73.7089% 41.7647% / 0.00);
  --shadow-2xl: 0px 2px 0px 0px hsl(342.0382 73.7089% 41.7647% / 0.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply relative z-20 bg-gradient-to-b from-neutral-200 to-neutral-500 bg-clip-text py-8 text-4xl font-bold text-transparent sm:text-5xl text-center;
  }

  h2 {
    @apply text-3xl font-semibold;
  }
}

/* @import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
:root {
  --background: oklch(0.9399 0.0203 345.6985);
  --foreground: oklch(0.4712 0 0);
  --card: oklch(0.9498 0.0500 86.8891);
  --card-foreground: oklch(0.4712 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.4712 0 0);
  --primary: oklch(0.6209 0.1801 348.1385);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8095 0.0694 198.1863);
  --secondary-foreground: oklch(0.3211 0 0);
  --muted: oklch(0.8800 0.0504 212.0952);
  --muted-foreground: oklch(0.5795 0 0);
  --accent: oklch(0.9195 0.0801 87.6670);
  --accent-foreground: oklch(0.3211 0 0);
  --destructive: oklch(0.7091 0.1697 21.9551);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.6209 0.1801 348.1385);
  --input: oklch(0.9189 0 0);
  --ring: oklch(0.7002 0.1597 350.7532);
  --chart-1: oklch(0.7002 0.1597 350.7532);
  --chart-2: oklch(0.8189 0.0799 212.0892);
  --chart-3: oklch(0.9195 0.0801 87.6670);
  --chart-4: oklch(0.7998 0.1110 348.1791);
  --chart-5: oklch(0.6197 0.1899 353.9091);
  --sidebar: oklch(0.9140 0.0424 343.0913);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.6559 0.2118 354.3084);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8228 0.1095 346.0184);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.9464 0.0327 307.1745);
  --sidebar-ring: oklch(0.6559 0.2118 354.3084);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 0.50);
  --shadow-xs: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 0.50);
  --shadow-sm: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 1px 2px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 1px 2px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow-md: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 2px 4px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow-lg: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 4px 6px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow-xl: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 1.00), 3px 8px 10px -1px hsl(325.7800 58.1800% 56.8600% / 1.00);
  --shadow-2xl: 3px 3px 0px 0px hsl(325.7800 58.1800% 56.8600% / 2.50);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.2244 0.0074 67.4370);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.2801 0.0080 59.3379);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.2801 0.0080 59.3379);
  --popover-foreground: oklch(0.9288 0.0126 255.5078);
  --primary: oklch(0.6801 0.1583 276.9349);
  --primary-foreground: oklch(0.2244 0.0074 67.4370);
  --secondary: oklch(0.3359 0.0077 59.4197);
  --secondary-foreground: oklch(0.8717 0.0093 258.3382);
  --muted: oklch(0.2801 0.0080 59.3379);
  --muted-foreground: oklch(0.7137 0.0192 261.3246);
  --accent: oklch(0.3896 0.0074 59.4734);
  --accent-foreground: oklch(0.8717 0.0093 258.3382);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.2244 0.0074 67.4370);
  --border: oklch(0.3359 0.0077 59.4197);
  --input: oklch(0.3359 0.0077 59.4197);
  --ring: oklch(0.6801 0.1583 276.9349);
  --chart-1: oklch(0.6801 0.1583 276.9349);
  --chart-2: oklch(0.5854 0.2041 277.1173);
  --chart-3: oklch(0.5106 0.2301 276.9656);
  --chart-4: oklch(0.4568 0.2146 277.0229);
  --chart-5: oklch(0.3984 0.1773 277.3662);
  --sidebar: oklch(0.3359 0.0077 59.4197);
  --sidebar-foreground: oklch(0.9288 0.0126 255.5078);
  --sidebar-primary: oklch(0.6801 0.1583 276.9349);
  --sidebar-primary-foreground: oklch(0.2244 0.0074 67.4370);
  --sidebar-accent: oklch(0.3896 0.0074 59.4734);
  --sidebar-accent-foreground: oklch(0.8717 0.0093 258.3382);
  --sidebar-border: oklch(0.3359 0.0077 59.4197);
  --sidebar-ring: oklch(0.6801 0.1583 276.9349);
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.75rem;
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 2px 4px 3px hsl(0 0% 0% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 4px 6px 3px hsl(0 0% 0% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 8px 10px 3px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.45);
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
      @apply relative z-20 bg-gradient-to-b from-neutral-200 to-neutral-500 bg-clip-text py-8 text-4xl font-bold text-transparent sm:text-5xl text-center;
    }
    h2 {
      @apply text-3xl font-semibold;
    }  
} */